# Singapore University Acceptance Classification Model

In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression

## Load Data

In [2]:
df = pd.read_csv("data/2023-NUS.csv", header=1)
df.head(30)

,Nationality,Education Track,Results (GPA),A-level Results,IB Score,University,Course Name,Results
0,Singaporean,Poly,3.94,NaN,NaN,NUS,Accountancy,Accepted by direct entry/discovery day
1,Singaporean,Poly,3.00,NaN,NaN,NUS,Applied Ai And Analytics,Rejected
2,Singaporean,Poly,3.69,NaN,NaN,NUS,Architecture,Accepted by direct entry/discovery day
3,Singaporean,JC,NaN,76.25,NaN,NUS,Architecture,Accepted by ABA
4,Singaporean,JC,NaN,78.75,NaN,NUS,Bba,Rejected
5,Singaporean,Poly,3.87,NaN,NaN,NUS,Bba,Accepted by direct entry/discovery day
6,Singaporean,Poly,3.92,NaN,NaN,NUS,Business Administration,Accepted by direct entry/discovery day
7,Singaporean,Poly,3.89,NaN,NaN,NUS,Business Administration,Accepted by direct entry/discovery day
8,Singaporean,Poly,3.87,NaN,NaN,NUS,Business Administration,Accepted by direct entry/discovery day
9,Singaporean,Poly,3.88,NaN,NaN,NUS,Business Administration,Accepted by direct entry/discovery day
10,Singaporean,Poly,3.90,NaN,NaN,NUS,Business Administration,Accepted by direct entry/discovery day
11,Singaporean,Poly,3.68,NaN,NaN,NUS,Business Administration,Accepted by ABA
12,Singaporean,JC,NaN,83.75,NaN,NUS,Business Administration,Rejected
13,Singaporean,Poly,3.78,NaN,NaN,NUS,Business Administration,Rejected
14,Singaporean,JC,NaN,83.75RP,NaN,NUS,Business Administration,Accepted by ABA
15,Singaporean,JC,NaN,88.875,NaN,NUS,Business Administration,Accepted by direct entry/discovery day
16,Singaporean,JC,NaN,86.25,NaN,NUS,Business Administration (Accountancy),Accepted by direct entry/discovery day
17,Singaporean,JC,NaN,86.25,NaN,NUS,Business Administration (Accountancy),Accepted by direct entry/discovery day
18,Singaporean,JC,NaN,87.75,NaN,NUS,Business Administration (Accountancy) With Msc...,Accepted by direct entry/discovery day
19,Singaporean,JC,NaN,87.5,NaN,NUS,Business Administration And Computer Science,Rejected
20,Singaporean,IB,NaN,NaN,42.0,NUS,Business Administration With Psychology Double...,Accepted by direct entry/discovery day
21,Singaporean,JC,NaN,88.75rp,NaN,NUS,Business Administration With Second Major In B...,Accepted by direct entry/discovery day
22,Singaporean,JC,NaN,87.5 (First choice) + H3 Merit,NaN,NUS,Business Administration With Second Major In P...,Accepted by direct entry/discovery day
23,Singaporean,IB,NaN,NaN,43.0,NUS,Business Analytics,Accepted by direct entry/discovery day
24,Singaporean,JC,NaN,86.25,NaN,NUS,Business Analytics,Accepted by direct entry/discovery day
25,Singaporean,JC,NaN,88.75,NaN,NUS,Business Analytics,Accepted by direct entry/discovery day
26,Singaporean,JC,NaN,86.25,NaN,NUS,Business Analytics,Accepted by direct entry/discovery day
27,PR,JC,NaN,87.5,NaN,NUS,Business Analytics,Accepted by direct entry/discovery day
28,PR,JC,NaN,85,NaN,NUS,Business Analytics,Accepted by ABA
29,Singaporean,JC,NaN,87.5,NaN,NUS,Business Analytics,Accepted by direct entry/discovery day

In [4]:
np.unique(df["Nationality"].to_numpy())
np.unique(df["Education Track"].to_numpy())

array(['IB', 'JC', 'Poly'], dtype=object)

## Data Preprocessing

### Data Overview

- **Features**
  - Nationality
  - Education
  - Results (GPA / A-Level / IB)
  - Course
- **Target**: Results

### Preprocessing Steps

1. One-hot-encoding nationality.
2. One-hot-encoding education.
3. Grades???
4. Categorize course?
5. Convert results to 0 / 1 using Regex.