# Singapore University Acceptance Classification Model

In [1]:
import pandas as pd

## Load Data

In [7]:
df = pd.read_csv("data/2023-NUS.csv", header=1)
df.head()

,Nationality,Education Track,Results (GPA),A-level Results,IB Score,University,Course Name,Results
0,Singaporean,Poly,3.94,NaN,NaN,NUS,Accountancy,Accepted by direct entry/discovery day
1,Singaporean,Poly,3.00,NaN,NaN,NUS,Applied Ai And Analytics,Rejected
2,Singaporean,Poly,3.69,NaN,NaN,NUS,Architecture,Accepted by direct entry/discovery day
3,Singaporean,JC,NaN,76.25,NaN,NUS,Architecture,Accepted by ABA
4,Singaporean,JC,NaN,78.75,NaN,NUS,Bba,Rejected

## Data Preprocessing

### Data Overview

- **Features**
  - Nationality
  - Education
  - Results (GPA / A-Level / IB)
  - Course
- **Target**: Results

### Preprocessing Steps

1. Categorize nationality.
2. Categorize education.
3. Categorize course?
4. Convert results to 0 / 1.